<div class="container log col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">   
<h3>以下の内容で、送信する</h3> 

<%= form_with(model: @blog, url: blogs_path, local:true)do |form| %> 
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %> 
    <div class="header"> 
      <p>タイトル:<%= @blog.title %></p>
      <p>本文:<%= @blog.content %></p> 
      <div class="back"><%= form.submit "登録する", class: "btn_entry" %></div>
  <% end %> 
<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
      <div class="back"><%= form.submit "もどる", name: 'back', class: "btn_entry" %></div>
<% end %>  
</div> 