<div class="container log col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">   
<p><%= notice %></p>
  
   <div class="right-content"> 
     <h2><%= @blog.title %></h2>
     <p><%= @blog.content%></p>　
     <% if @blog.user_id == current_user.id %>
     <ul class="button">
        <li><%= link_to "編集" , edit_blog_path(@blog.id), class: "btn btn-outline-primary"%></li> 
        <li><%= link_to"削除", blog_path(@blog.id), method: :delete, data: {confirm: '本当に削除していいですか'},  class: "btn btn-outline-danger"%></li>
      </ul>  
     <% end %>
   </div>  
   <% unless @blog.user_id == current_user.id %>
     <% if @favorite.present? %>
       <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
     <% else %>
       <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
     <% end %>
   <% end %>
</div>
