<div class="container log col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">   
　<h2 class="shadow"><%= @user.name %></h2>
  <div class="right-content">   
    <h2>プロフィール</h2>
    <h3><%= @user.email %></h3>
 </div> 
 <% if @favorite_blogs.present? %>
 <% @favorite_blogs.each do |favorite_blogs| %>
   <div class="right-content mt-5"> 
     <p>投稿者: <%= favorite_blogs.user.name %></p>
     <h2><%= favorite_blogs.title %></h2>
     <p><%= link_to favorite_blogs.content, blog_path(favorite_blogs.id) %></p> 
   </div> 
　<% end %>  

 <% else %> 
   <h2 class="shadow mt-5">お気に入りはまだありません。</h2>
  
 <% end %> 
</div>
